@import "tailwindcss";
@import "@nuxt/ui";
:root{
  --today-color: #baa7cb14;
  overscroll-behavior-x: none;
}
.grid-v { position: absolute; top: 0; bottom: 0; width: 1px; background-color: var(--divide-color-muted); }
.grid-v.week { background-color: var(--divide-color-accented); width: 2px; }
.timeline-bg { background-color: var(--background-color-muted); }
.pane-border { border-color: var(--border-color-muted); }
.bar-shadow { box-shadow: 0 1px 2px rgba(0,0,0,.04), 0 2px 6px rgba(0,0,0,.06); }
/* Day background bands (can be used for weekend if needed) */
.day-bg { position: absolute; top: 0; bottom: 0;  background: var(--today-color); }
.day-bg.weekend { background-color: color-mix(in lab, var(--background-color-default) 92%, white); }
.header-day {  background: var(--today-color);}
.header-day::before,
.day-bg::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 1px;
  background-color: var(--divide-color-muted); 
} 
.header-day.week::before,
.day-bg.week::before {
  background-color: var(--divide-color-accented); width: 2px;
}
.empty-rows-filler .day-bg.today::after,
.rows-group .day-bg.today::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--ring-color-inverted); 
  width: 2px; 
  bottom:-1px;
}

.header-grid .today::after { 
  position: absolute;
  content: ''; 
  display: block; 
  width: 9px;
  height:9px;   
  left:-3.5px;
  background-color: var(--ring-color-inverted); 
  z-index: 1;
  bottom:-5px;
  border-radius: 50%;
}

body{  overflow-x: hidden; }
.cell-text { background-color: var(--background-color-elevated); }

/* Chrome, Safari and Opera */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

/* IE, Edge and Firefox */
.scrollbar-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.left-label {
  margin-bottom:-.8px;
  border-bottom-width:1.2px;
}